/* Themes colors */
/*  Colors used for background */
/* Miscellaneous colors */
/* shadows used for buttons and cards */
/* Border radius */
/* z-index values */
/* Media Query */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
main {
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

h3,
p {
  font-size: 18px;
}

p,
a,
a:visited,
a:link {
  text-decoration: none;
  color: #000;
}

.shift-left {
  align-self: start;
  padding: 0 0 0.5rem 4%;
}

.shrikhand {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

.fa-heart {
  font-size: 1.8em;
  color: transparent;
  -webkit-text-stroke: 2px black;
  opacity: 0.6;
  margin-right: 1rem;
}

.fa-heart:hover {
  background: linear-gradient(to right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px;
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

li a,
li i {
  color: #fff;
  text-decoration: none;
}

/* Position formats */
.center-text-location {
  text-align: center;
  padding: 1rem;
  line-height: 1;
}

.center-text-title {
  text-align: center;
  padding: 0.5rem 1rem;
  line-height: 1.2;
}

.center-text-para {
  text-align: center;
  padding: 0.5rem 0;
  line-height: 1.2;
}

.center-text-howto {
  text-align: center;
  padding: 1rem;
  line-height: 1;
}

/* Button format */
.menu__description .button, .presentation__search .button {
  width: 185px;
  height: 20px;
  margin: 1.5rem 0;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 100px;
}
.menu__description .button:hover, .presentation__search .button:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  opacity: 1;
  cursor: pointer;
  transition: 0.4s;
}

/* label format stck on some restaurant image */
.restaurants__list .affiche .label-nouveau {
  width: 4.3rem;
  height: 0.8rem;
  background-color: #99e2d0;
  color: #278870;
  font-size: 14px;
  font-weight: bold;
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  text-align: center;
  border-radius: 2px;
  position: absolute;
  top: 18px;
  right: 10px;
  bottom: 0px;
}

.restaurants__list .affiche:hover, .presentation__howto .three-steps .step-card:hover {
  box-shadow: unset;
  background-color: #f2f2f2;
  transition: 0.4s;
}

/* Back arrow format on header page */
.back-arrow {
  position: absolute;
  top: 25px;
  right: 0px;
  bottom: 0px;
  left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

/* miscellaneous formats on Menu pages */
.menu__description .meal .plate h4 {
  margin: 1.5rem 0 0.5rem 0;
  padding-left: 1rem;
  align-self: start;
}
.menu__description .meal .plate h4::after {
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  margin-top: 0.4rem;
  background: #99e2d0;
  display: block;
}

.menu__description .meal .plate .plate-proposal .description h3,
.menu__description .meal .plate .plate-proposal .description h5 {
  margin: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
}

.menu__description .meal .plate .plate-proposal .price {
  line-height: 6.25rem;
  padding: 0 0.75rem 0 0;
  margin-left: auto;
  align-self: start;
  font-weight: bold;
}

.menu__description .meal .plate .plate-proposal .selectbox i {
  background-color: #fff;
  color: #99e2d0;
  border-radius: 23px;
  font-size: 1.5em;
  transform: rotate(180deg);
}

/* Loader Animation: rotations during 3s */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader Animation : end after 3s */
@keyframes load {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
/* Menu Checkbox animation: rotate icon on hover */
@keyframes checkbox-rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Menu Display Animation: display hiding */
@keyframes delayed-display {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  position: relative;
  padding: 1rem;
  margin-bottom: 0.3rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  column-gap: normal;
  padding: 2rem;
  color: #fff;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: normal;
  width: 80%;
  height: auto;
  padding-top: 1rem;
}
@media (max-width: 768px) {
  .footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
    column-gap: normal;
  }
}
.footer ul li {
  list-style-type: none;
  margin: 0.5rem;
}
.footer ul li i {
  padding-right: 1rem;
}
.footer ul li a {
  color: #fff;
}

.container-loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 100;
  animation: load 0.01s 3s both;
}

.loader {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #9356dc;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  border-bottom-color: #99e2d0;
  animation: spin 1s linear 3;
}
.loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ff79da;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  animation: spin 2s linear 3;
}
.loader::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #e99414;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  animation: spin 3s linear 3;
}

.presentation {
  background-color: #fafafa;
  /*  @include size(100%);*/
}
.presentation__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  background-color: #f2f2f2;
  box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 0.55);
}
.presentation__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  padding: 2rem;
}
.presentation__howto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  background-color: #fff;
  padding: 2rem 0;
}
.presentation__howto .three-steps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: normal;
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
}
.presentation__howto .three-steps .step-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  width: 330px;
  height: 70px;
  min-width: 330px;
  min-height: auto;
  background-color: #fafafa;
  cursor: pointer;
  position: relative;
  margin: 1rem;
  border-radius: 23px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
}
.presentation__howto .three-steps .step-card .number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.3rem;
  right: 0px;
  bottom: 0px;
  left: -10px;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50%;
}
.presentation__howto .three-steps .step-card i {
  margin-left: 2rem;
}
.restaurants {
  margin-top: 1rem;
  padding: 3rem 0;
  background-color: #fafafa;
}
.restaurants__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  column-gap: normal;
}
@media (max-width: 768px) {
  .restaurants__list {
    flex-direction: column;
  }
}
@media (min-width: 1020px) {
  .restaurants__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: normal;
  }
}
.restaurants__list .affiche {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  margin: 1rem 0;
  position: relative;
}
.restaurants__list .affiche .image {
  width: 35vw;
  height: auto;
  min-width: 335px;
  min-height: 175px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__list .affiche .legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  padding: 0.5rem 0;
}
.restaurants__list .affiche .legend .description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  width: 100%;
  height: auto;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
}
.menu__picture {
  width: 100%;
  height: auto;
}
.menu__picture img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 26rem;
  object-fit: cover;
}
.menu__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  width: 83%;
  height: auto;
  max-width: 3000px;
  max-height: 100%;
  background-color: #fafafa;
}
.menu__description .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  width: 100%;
  height: auto;
  background-color: #fafafa;
  padding: 2rem;
  margin-top: -3.5rem;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  z-index: 1;
}
.menu__description .meal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  column-gap: normal;
  /*      @include size(100%);*/
}
.menu__description .meal .plate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
}
.menu__description .meal .plate h4::after {
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  margin-top: 0.4rem;
  background: #99e2d0;
  display: block;
}
.menu__description .meal .plate .plate-proposal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  width: 25vw;
  height: 4.4rem;
  min-width: 22rem;
  min-height: 4.4rem;
  max-width: 32rem;
  max-height: auto;
  background-color: #fff;
  padding: 0;
  border-radius: 23px;
  margin: 0.75rem 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 14px #aaaaaa;
  animation: delayed-display 1s both;
  /*
  &:last-child {
      animation-delay: 1.1s;
  } */
}
.menu__description .meal .plate .plate-proposal:hover {
  cursor: pointer;
}
.menu__description .meal .plate .plate-proposal .description {
  overflow: hidden;
}
.menu__description .meal .plate .plate-proposal .selectbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: normal;
  width: 60px;
  height: 100%;
  background-color: #99e2d0;
  margin-right: -4rem;
}
.menu__description .meal .plate .plate-proposal:hover .selectbox i {
  animation: checkbox-rotate 0.5s both;
}
.menu__description .meal .plate .plate-proposal:hover .selectbox {
  min-width: 4rem;
  min-height: auto;
  margin-right: 0rem;
  transition: margin-right 0.5s;
}
.menu__description .meal .plate .plate-proposal:nth-child(2) {
  animation-delay: 0.5s;
}
.menu__description .meal .plate .plate-proposal:nth-child(3) {
  animation-delay: 0.7s;
}
.menu__description .meal .plate .plate-proposal:nth-child(4) {
  animation-delay: 0.9s;
}
.menu__description .meal .plate .plate-proposal:nth-child(5) {
  animation-delay: 1.1s;
}

/*# sourceMappingURL=style.css.map */
