/* Themes colors */
/*  Colors used for background */
/* Miscellaneous colors */
/* shadows used for buttons and cards */
/* Border radius */
/* z-index values */
/* Breakpoints for Media Query */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
main {
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.shrikhand {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

h3,
p {
  font-size: 18px;
}

p,
a,
a:visited,
a:link {
  text-decoration: none;
  color: #000;
}

.shift_left {
  align-self: start;
  padding: 0 0 0.5rem 4%;
}

/* height & width settings */
/* relative and absolute positioning */
/* display flex settings */
/* text positioning */
/* loader animation setting */
/* Position formats */
.center_text_location {
  text-align: center;
  padding: 1rem;
  line-height: 1;
}

.center_text_title {
  text-align: center;
  padding: 0.5rem 1rem;
  line-height: 1.2;
}

.center_text_para {
  text-align: center;
  padding: 0.5rem 0;
  line-height: 1.2;
}

.center_text_howto {
  text-align: center;
  padding: 1rem;
  line-height: 1;
}

/* Button format */
.menu__description .button, .presentation__search .button {
  width: 11.5rem;
  height: 1.25rem;
  margin: 1.5rem 0 2.5rem 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 100px;
}
.menu__description .button:hover, .presentation__search .button:hover {
  box-shadow: 9px 9px 10px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
  opacity: 1;
  cursor: pointer;
  transition: 0.2s;
}

/* label format stuck on some restaurant image */
.restaurants__list .affiche .label_nouveau {
  width: 4.3rem;
  height: 0.8rem;
  background-color: #99e2d0;
  color: #278870;
  font-size: 14px;
  font-weight: bold;
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  text-align: center;
  border-radius: 2px;
  position: absolute;
  top: 18px;
  right: 10px;
  bottom: 0px;
}

/* hover effects on button */
.restaurants__list .affiche:hover, .presentation__howto .three_steps .step_card:hover {
  box-shadow: 9px 9px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transition: 0.4s;
}

/* Back arrow format on header page */
.back_arrow {
  position: absolute;
  top: 25px;
  right: 0px;
  bottom: 0px;
  left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

/* miscellaneous formats on Menu pages */
.menu__description .meal .plate h4 {
  margin: 1.5rem 0 0.5rem 0;
  padding-left: 1rem;
  align-self: start;
}
.menu__description .meal .plate h4::after {
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  margin-top: 0.4rem;
  background: #99e2d0;
  display: block;
}

.menu__description .meal .plate .plate_proposal .description h3,
.menu__description .meal .plate .plate_proposal .description h5 {
  margin: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
}

.menu__description .meal .plate .plate_proposal .price {
  line-height: 6.25rem;
  padding: 0 1.5rem 0 0;
  margin-left: auto;
  align-self: start;
  font-weight: bold;
}

.menu__description .meal .plate .plate_proposal .selectbox i {
  background-color: #fff;
  color: #99e2d0;
  border-radius: 23px;
  font-size: 1.5em;
  transform: rotate(180deg);
}

/* heart attributes */
.fa-heart {
  font-size: 1.8em;
  color: transparent;
  -webkit-text-stroke: 2px black;
  opacity: 0.6;
  margin-right: 1rem;
}

.fa-heart:hover {
  background: linear-gradient(to right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px;
  opacity: 1;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}

/* Loader Animation: rotations during 3s */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader Animation : end after 3s */
@keyframes load {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
/* Menu checkbox animation: rotate icon on hover */
@keyframes checkbox_rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Menu display animation: display hiding */
@keyframes delayed_display {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* Header with logo on home page */
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  padding: 1rem;
  margin-bottom: 0.3rem;
}

/* Backarrow for header on menu pages */
/* Footer for every page */
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  padding: 2rem 1.5rem;
  color: #fff;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 88%;
  height: auto;
  padding-top: 1rem;
}
@media screen and (max-width: 768px) {
  .footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
  }
}
.footer ul li {
  list-style-type: none;
  margin: 0.5rem;
}
.footer ul li i {
  padding-right: 0.5rem;
}
.footer ul li a {
  color: #fff;
}

/* Ohmyfood presentation on home page with location, search and howto information */
.presentation {
  background-color: #fafafa;
}
.presentation__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f2f2f2;
  box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 0.55);
}
.presentation__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem;
}
.presentation__howto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #fff;
  padding: 2rem 0;
}
.presentation__howto .three_steps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  margin: 0.5rem 0;
}
@media screen and (max-width: 768px) {
  .presentation__howto .three_steps {
    flex-direction: column;
  }
}
.presentation__howto .three_steps .step_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 25rem;
  max-height: 100%;
  min-width: 15.75rem;
  min-height: 4.4rem;
  background-color: #fafafa;
  cursor: pointer;
  position: relative;
  margin: 1rem 0;
  border-radius: 23px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768px) {
  .presentation__howto .three_steps .step_card {
    width: 90vw;
    height: auto;
  }
}
.presentation__howto .three_steps .step_card .number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 20px;
  right: 0px;
  bottom: 0px;
  left: -10px;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50%;
}
.presentation__howto .three_steps .step_card i {
  margin-left: 2rem;
}
/* Restaurants displayed on home page */
.restaurants {
  margin-top: 1rem;
  padding: 3rem 0;
  background-color: #fafafa;
}
.restaurants__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.restaurants__list .affiche {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 90vw;
  height: auto;
  margin: 1rem 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .restaurants__list .affiche {
    width: 35vw;
    height: auto;
  }
}
.restaurants__list .affiche .image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__list .affiche .legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem 0;
}
.restaurants__list .affiche .legend .description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
}
/* Menu page for each restaurant with detailed menu and animations */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.menu__picture {
  width: 100%;
  height: auto;
}
.menu__picture img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 26rem;
  object-fit: cover;
}
.menu__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 90%;
  height: auto;
  max-width: 180rem;
  max-height: 100%;
  background-color: #fafafa;
}
.menu__description .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 96%;
  height: auto;
  background-color: #fafafa;
  padding: 2rem;
  margin-top: -3.5rem;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  z-index: 1;
}
.menu__description .meal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}
.menu__description .meal .plate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (min-width: 818px) {
  .menu__description .meal .plate {
    column-gap: normal;
    row-gap: 2vh;
  }
}
.menu__description .meal .plate h4::after {
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  margin-top: 0.4rem;
  background: #99e2d0;
  display: block;
}
.menu__description .meal .plate .plate_proposal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 95vw;
  height: 4.4rem;
  max-width: 22rem;
  max-height: 100%;
  background-color: #fff;
  padding: 0;
  border-radius: 23px;
  margin: 0.75rem 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 14px #aaaaaa;
}
.menu__description .meal .plate .plate_proposal:hover {
  cursor: pointer;
}
.menu__description .meal .plate .plate_proposal .description {
  overflow: hidden;
}
.menu__description .meal .plate .plate_proposal .selectbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 3.75rem;
  height: 100%;
  background-color: #99e2d0;
  margin-right: -4rem;
}
.menu__description .meal .plate .plate_proposal:hover .selectbox i {
  animation: checkbox_rotate 0.5s both;
}
.menu__description .meal .plate .plate_proposal:hover .selectbox {
  margin-right: 0;
  transition: margin-right 0.5s;
}
/* loader display during 3s on home page access */
.container_loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  color: transparent;
  position: fixed;
  z-index: 100;
  animation: load 0.01s 3s both;
}

.loader {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #9356dc;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 9.5rem;
  height: 9.5rem;
  vertical-align: middle;
  border-bottom-color: #99e2d0;
  animation: spin 1s linear 3;
}
.loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ff79da;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  animation: spin 2s linear 3;
}
.loader::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #e99414;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  animation: spin 3s linear 3;
}

/* Menu animation on display */
.plate_animation {
  /* First Animate ENTREES */
  /* Second, Animate PLATS 0.8s later */
  /* Third, Animate DESSERTS 1.4s later */
}
.plate_animation .plate_proposal_animation {
  animation: delayed_display 0.6s forwards;
  opacity: 0;
}
.plate_animation:nth-of-type(1) .plate_proposal_animation:nth-of-type(1) {
  animation-delay: 0.2s;
}
.plate_animation:nth-of-type(1) .plate_proposal_animation:nth-of-type(2) {
  animation-delay: 0.4s;
}
.plate_animation:nth-of-type(1) .plate_proposal_animation:nth-of-type(3) {
  animation-delay: 0.6s;
}
.plate_animation:nth-of-type(1) .plate_proposal_animation:nth-of-type(4) {
  animation-delay: 0.8s;
}
.plate_animation:nth-of-type(2) .plate_proposal_animation:nth-of-type(1) {
  animation-delay: 1s;
}
.plate_animation:nth-of-type(2) .plate_proposal_animation:nth-of-type(2) {
  animation-delay: 1.2s;
}
.plate_animation:nth-of-type(2) .plate_proposal_animation:nth-of-type(3) {
  animation-delay: 1.4s;
}
.plate_animation:nth-of-type(3) .plate_proposal_animation:nth-of-type(1) {
  animation-delay: 1.6s;
}
.plate_animation:nth-of-type(3) .plate_proposal_animation:nth-of-type(2) {
  animation-delay: 1.8s;
}
.plate_animation:nth-of-type(3) .plate_proposal_animation:nth-of-type(3) {
  animation-delay: 2s;
}

/*# sourceMappingURL=style.css.map */
