body,
main {
    font-family: "Roboto", sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.shrikhand {
    font-family: "Shrikhand", cursive;
    font-weight: normal;
}

h2,
h3 {
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

h3,
p {
    font-size: 18px;
}

p,
a,
a:visited,
a:link {
    text-decoration: none;
    color: $color_reset_after_visited;
}

.shift_left {
    align-self: start;
    padding: 0 0 0.5rem 4%;
}

.center_text_location {
    @extend %center_text_location;
}

.center_text_title {
    @extend %center_text_title;
}

.center_text_para {
    @extend %center_text_para;
}

.center_text_howto {
    @extend %center_text_howto;
}

.fa-heart {
    @extend %fa_heart;
}

.fa-heart:hover {
    @extend %fa_heart_hover;
}
