@mixin size($width, $height: auto) {
    width: $width;
    height: $height;
}

@mixin minsize($width, $height: auto) {
    min-width: $width;
    min-height: $height;
}

@mixin maxsize($width, $height: 100%) {
    max-width: $width;
    max-height: $height;
}

@mixin position($type, $top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin flex-setup(
    $gap: normal,
    $direction: row,
    $justify: center,
    $align: center,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    column-gap: $gap;
}

@mixin center-text($padding-side: 0, $line-height: 1.2) {
    text-align: center;
    padding: 1rem;
    line-height: $line-height;
    @if $padding-side != 0 {
        padding-right: $padding-side;
        padding-left: $padding-side;
    }
}

@mixin loader-bloc($color, $size: auto) {
    content: "";
    position: absolute;
    border-radius: $border-radius-loader-circle;
    border: 5px solid transparent;
    border-top-color: $color;
    top: $size;
    right: $size;
    bottom: $size;
    left: $size;
}
