/* Themes colors */
$color_primary: #9356dc;
$color_secondary: #ff79da;
$color_tertiary: #99e2d0;
$color_quaterly: #e99414;
$color_primary_lighter: rgba(147, 86, 220, 0.8);
$color_secondary_lighter: rgba(255, 121, 218, 0.8);

/*  Colors used for background */
$background_color_restaurants: #fafafa;
$background_color_3steps: #fafafa;
$background_color_presentation: #fafafa;
$background_color_location: #f2f2f2;
$background_color_menu_description: #fafafa;
$background_color_plate_proposal: #fff;
$background_color_select_icon: #fff;
$background_color_loader: hsla(0, 0%, 100%, 0.7);
$background_color_howto: #fff;
$background_color_hover: #fff;

/* Miscellaneous colors */
$color_step_card_123: #fff;
$color_heart_icon: transparent;
$color_reset_after_visited: #000;
$color_text_footer: #fff;
$color_backarrow_header: #000;
$color_text_btn_nav: #fff;

/* shadows used for buttons and cards */
$shadow_step_card: 10px 10px 10px 0px rgb(0, 0, 0, 15%);
$shadow_restaurant_card: 10px 10px 10px 0px rgb(0, 0, 0, 15%);
$shadow_btn_on_hover: 9px 9px 10px 0px rgb(0, 0, 0, 30%);
$shadow_plate_proposal: 2px 2px 14px #aaaaaa;
$shadow_presentation_location: inset 0px 10px 20px -15px rgba(0, 0, 0, 55%);

/* Border radius */
$border_radius_circle: 50%;
$border_radius_card: 23px;
$border_radius_label_nouveau: 2px;
$border_radius_btn_nav: 100px;
$border_radius_menu_title: 3rem 3rem 0 0;

/* z-index values */
$top: 100;
$below: -100;

/* Breakpoints for Media Query */
$breakpoint_mobile_menu: 818px;
$breakpoint_mobile: 768px;
