$color-primary: #9356DC;
$color-secondary: #ff79da;
$color-tertiary: #99E2d0;

$color-quaterly: #e99414;
$shadow-grey: #f2f2f2;
$light-grey: #fafafa;
$dark-grey: #333333;

$shadow: 10px 10px 10px 0px rgb(0,0,0, 15%);
$shadow-input: 0px 0px 10px 5px rgb(0,0,0, 25%);
