.container-loader {
    @include flex-setup(normal, row, center, center);
    @include size(100%, 100%);
    background-color: $background-color-loader;
    position: fixed;
    z-index: $top;
    animation: load 0.01s 3s both;
}

.loader {
    @include loader-bloc($color-primary);
    @include size(150px, 150px);
    vertical-align: middle;
    border-bottom-color: $color-tertiary;
    animation: spin 1s linear 3;
    &::after {
        @include loader-bloc($color-secondary, 10px);
        animation: spin 2s linear 3;
    }
    &::before {
        @include loader-bloc($color-quaterly, 25px);
        animation: spin 3s linear 3;
    }
}
