.restaurants { 
    margin-top: 1rem;
    padding: 3rem 0;
    background-color: $background-color-restaurants; 
    &__list {
        @include flex-setup(normal, row, space-around, center, wrap);
        @media (max-width: 768px) {
            flex-direction: column;
        }
        @media (min-width: 1020px) {
            @include flex-setup(10vw, row, space-around, center, wrap);
        }
        .affiche {
            box-shadow: $shadow-restaurant-card;
            border-radius: $border-radius-card;
            @include flex-setup(normal, column, space-around, center);
            margin: 1rem 0;
            position: relative;
            .image {
                @include size(30vw, auto);
                @include minsize(335px, 175px);
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            .legend {
                @include flex-setup(normal, row, space-between, center);
                @include size(100%);
                padding: 0.5rem 0;
                .description {
                    @include flex-setup(normal, column, left, left);
                }
            }
            .label-nouveau {
                @extend %label-nouveau;
            }
            &:hover {
                @extend %hover-effect;
            }
        }
    }
}