/* Footer for every page */

.footer {
    background-color: rgba(0, 0, 0, 80%);
    @include flex_setup(column, flex-start, start);
    padding: 2rem 1.5rem;
    color: $color_text_footer;
    ul {
        @include flex-setup(column, center, start, wrap);
        @include size(88%);
        padding-top: 1rem;
        @media screen and (min-width: $breakpoint-mobile) {
            @include flex-setup(row, space-between, center, wrap);
        }
        li {
            list-style-type: none;
            margin: 0.5rem;
            i {
                padding-right: 0.5rem;
            }
            a {
                color: $color_text_footer;
            }
        }
    }
}
