.header {
    @include flex-setup ();
    @include size (100%);
    position: relative;
    padding: 1rem;
    margin-bottom: 0.3rem;
  /*  box-shadow: 0px 0px 15px rgb(0,0,0, 20%);*/
}

.home {
    position: absolute;
    top: 25px; left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: $color-backarrow-header;
}